<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.sc.convert">

    <dist:module
            dist:onDemand="false"
            dist:instant="true"
            dist:title="@string/title_convert">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.ConvertActivity"
                  android:screenOrientation="portrait">
            <intent-filter
                    android:autoVerify="true"
                    android:order="1">

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="lydian-lion-instant.com"/>
                <data android:pathPrefix="/convert"/>

            </intent-filter>
        </activity>

    </application>

</manifest>

